#button-holder {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin-top: 6vh;
    gap: 20px;
}

.num-btn {
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.num-btn > p {
    font-weight: 600;
    font-size: 18pt;
}

.num-btn:hover {
    background-color: #969696;
    cursor: pointer;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
}

.end-btn {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-btn:hover {
    cursor: pointer;
}

#win-btn {
    background-color: green;
}

#lose-btn {
    background-color: red;
}